html,
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

canvas {
  background: black;
  border: 1px solid black;
}

.main-menu {
  width: 80vw;
  position: fixed;
  height: 20vw;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-size: contain;
  max-width: 600px;
}

.main-menu.none {
  display: none;
}

.main-menu p {
  animation: blinker 800ms cubic-bezier(.5, 0, 1, 1) infinite alternate;
  bottom: 0;
  color: #fff;
  font-family: arial;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}